extends ../layout

block content
  .pin-object.row
    .col-md-6
      .preview-container.well
        if objectType === 'image'
          img#preview(src=url)
        else
          p.no-preview No preview available for this content

    .col-md-6.pin-form-container
      .panel.panel-default
        .panel-heading
          h3.panel-title New Pin
        .panel-body
          form(method='POST', action='/pin/new')
            input(type='hidden', name='url', value=url)

            .form-group
              label(for='description') Board 
              br/
              .btn-group(data-toggle='buttons')
                - for(var k = 0; k < boards.length; k+=1)
                  label.btn.btn-primary
                    input(type="radio", name="board_name", value="#{boards[k].name}")
                    = boards[k].name

            .form-group
              label(for='description') Description
              textarea.form-control(type='text', name='description', rows=5,
                  placeholder='Description (up to 512 characters)')

            .form-group
              label(for='tags') Tags
              if(tags)
                ul.list-inline
                  - for (var i = 0; i < tags.length; i += 1)
                    li: a(href='/search?term=#{tags[i]}')= tags[i]
              input.form-control(type='text', name='tags', placeholder='Enter additional tags')

            button.btn.btn-success(type='submit') Pin It!

  if !!pins
    .pins.row
      - for (var i = 0; i < pins.length; i++)
        ul.list-group
          li.list-group-item
            | #{pins[i].user_name} &#8212
            | <a href="/pin/#{pins[i].user_name}/#{pins[i].board_name}/#{pins[i].object_id}">#{moment(pins[i].created_at).format("MMM DD YYYY")}</a>
            if pins[i].description
              | &#8212 #{pins[i].description}
  else
    .pins.row
      p You're the first to pin this!

script.
  $(document).ready(function() {
    $(".dropdown-menu li a").click(function(){
      var newHeading = $(this).text();
      $(this).closest('.dropdown').children('a.dropdown-toggle').text(text);
      //$heading.html(newHeading + ' ').append($caret);
    });
 });
