extends ../layout

block content
  .pin-object.row.well
    .col-md-6
      .preview-container
        a(href=url)
          if objectType === 'photo'
            img(src=url, style="max-width: 100%")
          else
            p.no-preview No preview available for this content

    .col-md-6.pin-descr-container
      .panel.panel-default(style="padding: 10px")
        h3 
          a(href='user/#{user_name}/#{board_name}') #{board_name} 
          if source != 'Hazelnoot'
              <small>Imported from #{source}</small>

        h5 Pinned on #{moment(pin_created_at).format("MMMM D, YYYY")}
        p.lead= description

        if tags && tags.length > 0
          h5 Tags
          ul.list-inline
            - for (var i = 0; i < tags.length; i += 1)
              a.btn.btn-default(href='/search?term=#{tags[i]}')= tags[i]

        if avgDisplay != 0
          p Average rating: #{avgDisplay}/5
        else
          p No ratings yet!

        if !!current_user
          .btn-group#ratings(data-url=rating_url, data-current-rating=lastRating)
              button.btn.btn-default(type='submit', name='rating', data-rating=1) 1
              button.btn.btn-default(type='submit', name='rating', data-rating=2) 2
              button.btn.btn-default(type='submit', name='rating', data-rating=3) 3
              button.btn.btn-default(type='submit', name='rating', data-rating=4) 4
              button.btn.btn-default(type='submit', name='rating', data-rating=5) 5

          a.btn.btn-default(href='/pin/new?url=#{url}') Pin It!

  if !!pins
    mixin displayOldPins (pins)
          
block scripts
  script(src='/javascripts/rating.js')
