mixin displayPins ( images )
  - for (var i = 0; i < images.length; i += 4)
    .row
      - for (var k = 0; k < 4; ++k)
        mixin pin (images[i+k])

mixin pin ( image )
  .col-4.col-sm-4.col-lg-3.tile
    if (image)
      if (image.type === 'image')
        img(src=image.url, style='width: 100%').tiles
      else
        p
          | No preview for this - have a <a href=#{image.url}>link</a> instead!
      if current_user
        center
          form(role='form', method='GET', action='/pin/new')
            input.sr-only.form-control#url-inpput(name='url', value=image.url)
            button.btn.btn-default(type='submit') Pin It!

mixin formTextElem ( name, text, placeholder )
  .form-group
    label(for=name) #{text}
    input.form-control(name=name, type='text', placeholder=placeholder)
