mixin displayPins ( images, board )
  - for (var i = 0; i < images.length; i += 4)
    .row
      - for (var k = 0; k < 4; ++k)
        if board
          mixin pin (images[i+k], board)
        else
          mixin pin (images[i+k])

mixin pin ( image, board )
  .col-4.col-sm-4.col-lg-3.tile
    if (image)
      .imgtile
        if (image.type === 'photo')
          a(href="/object/#{image.source}/#{image.id}")
            img.img-responsive(src=image.url).tiles
        else
          p
            | No preview for this - have a <a href=#{image.url}>link</a> instead!

      if current_user
        center
          form(role='form', method='GET', action='/pin/new')
            input.form-control#url-inpput(type='hidden', name='url', value=image.url)
            button.btn.btn-default(type='submit') Pin It!

        if board
          form.form-inline.rm-pin(role='form', method='POST', action='/pin/remove')
            input.form-control(type='hidden', name='board', value=board.name)
            input.form-control(type='hidden', name='source', value=image.source)
            button.btn.btn-danger(style="position: absolute; top: 10px; left: 5%;",
                                  type='submit', name='obj_id', value=image.id)
              span.glyphicon.glyphicon-remove-circle

mixin formTextElem ( name, text, placeholder )
  .form-group
    label(for=name) #{text}
    input.form-control(name=name, type='text', placeholder=placeholder)

mixin displayOldPins ( pins )
  .pins.row
    ul.list-group
      - for (var i = 0; i < pins.length; i++)
        li.list-group-item
          | #{pins[i].user_name} &#8212
          | <a href="/pin/#{pins[i].user_name}/#{pins[i].board_name}/#{pins[i].object_id}">#{moment(pins[i].created_at).format("MMM DD YYYY")}</a>
          if pins[i].description
            | &#8212 #{pins[i].description}
