extends layout

block header
    h1 Rating/Object Page

block content
  .well.col-lg-4.col-md-6
    img(src='#{pic}', style="width:100%")
    //p Object id = #{id}

    p Average Rating = #{avgDisplay}/5
 
    if !!current_user
      if avgDisplay != 0
        p Your current rating: #{lastRating}/5
      else
        p You haven't rated this yet!

      form(role='form', method='POST', action='/rating/')
        input.hidden(name='id', value=id)
        div.btn-group
            button.btn.btn-default(type='submit', name='rating', value=1) 1
            button.btn.btn-default(type='submit', name='rating', value=2) 2
            button.btn.btn-default(type='submit', name='rating', value=3) 3
            button.btn.btn-default(type='submit', name='rating', value=4) 4
            button.btn.btn-default(type='submit', name='rating', value=5) 5
    else
      a(href='/login?redirect=/rating/#{id}') Login to rate objects!
        

block scripts
  script(src='/javascripts/rating.js')
