extends ../layout
include ../includes

block header
  h1 #{title} <small>#{current_user.user_name}'s Boards</small>

block content
  - if (boards.length > 0)
    div.alert.alert-warning Once you delete a board, asscoiated pins cannot be recovered.
    - for (var i = 0; i < boards.length; i += 1)
        .btn-group-horizontal
          form(role='form', method='POST', action='/user/me/boards/remove')
            a(href="/user/#{current_user.user_name}/#{boards[i]}")
              .btn.btn-default(type='button', style="width: 35%")= boards[i]
            button.btn.btn-danger(type='submit', name='oldBoard', value=boards[i])
              span.glyphicon.glyphicon-remove-circle

  - else
    p Boards: You have no boards!
  h4 Add a new board!
    form(role='form', method='POST', action='/user/me/boards/add', style="width: 35%")
      mixin formTextElem('newBoard', '', 'New Board')
      mixin formTextElem('newDescription', '', 'New Description')
      input.btn.btn-primary(type='submit') Add!

