extends ../layout

block header
  h1 #{title} <small>#{user.user_name}</small>

block content
  - if (user.affiliation)
    p Network: 
      a(href="/affiliation/#{user.affiliation}") #{user.affiliation}

  - if (!!current_user && user.birthday)
    p Birthday: #{moment(user.birthday).format("MMM D, YYYY")}

  p User since: #{moment(user.time_created).format("MMM D, YYYY")}

  - if (interests.length > 0)
    h4 Interests
    .btn-group
      - for (var i = 0; i < interests.length; i += 1)
        a.btn.btn-default(href="/search?term=#{interests[i]}")= interests[i]
  - else
    p
      | Interests: (None)

  - if (friends.length > 0)
    h4 Friends
    .list-group
      - for (var i = 0; i < friends.length; i += 1)
        a.list-group-item(href="/user/#{friends[i]}", style="width: 25%;")= friends[i]

  - if (boards.length > 0)
    h4 Boards
    .list-group
      - for (var i = 0; i < boards.length; i += 1)
        a.list-group-item(href="/user/#{user.user_name}/#{boards[i]}", style="width: 25%;")= boards[i]
