extends ../layout

block header
  h1 #{title} <small>#{user.user_name}</small>

block content
  - if (user.affiliation)
    p Network: #{user.affiliation}
  - if (!!current_user && user.birthday)
    p Birthday: #{moment(user.birthday).format("MMM YYYY")}
  p User since: #{moment(user.time_created).format("MMM D YYYY")}
  - if (interests.length > 0)
    p Interests: #{interests.join(", ")}
  - else
    p Interests: (None)

  - if (friends.length > 0)
    h4 Friends
    ul
      - for (var i = 0; i < friends.length; i += 1)
        li: a(href="/user/#{friends[i]}")= friends[i]
